nav {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 2em;
    background-color:#ddd;
    border-bottom: 1px solid rgb(141, 135, 135);
    padding: 1em;
    text-align: center;
}

h1{
    color:rgb(30, 30, 66);
    margin-bottom: 1em;
}
img{
    max-width: 300px;
}