.card {
  width: 300px;
  overflow: hidden;
  background: #94906f;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 9px 20px;
  margin: 1em;
  box-shadow: 2px 2px 5px 1px #fff3985c, -4px -4px 5px #42402f91;
  border-radius: 2px;
}

.card img {
  width: 100%;
  height: 100%;
  z-index: -1;
}

.card h2 {
  color: #565654;
}

.card h1 {
  font-weight: bold;
  text-align: center;
  color: #ffee6d;
}

.card a {
  text-decoration: none;
  color: #37474f;
  border: 1px dashed #ffee6d66;
  display: inline-block;
  padding: 0px 6px;
  border-radius: 1px;
}

.card #img {
  border-radius: 100%;
  overflow: hidden;
  height: 100px;
  width: 100px;
  position: relative;
}

.card #img:before {
  content: "";
  display: block;
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  box-shadow: inset -2px -2px 5px 1px #fff18666, inset 4px 4px 5px #42402f70;
  border-radius: 100%;
}
