* {
  box-sizing: border-box;
  color: #333;
}
body {
  background: #aba681;
}

h1#title span {
  color: #581b9a;
}

h1#title {
  line-height: 2;
  text-align: center;
}

section h2 {
  color: #9e9024;
}
